.category-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 16px;
  grid-auto-flow: column;
  justify-content: start;
}

.category-list button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.category-list button:hover {
  text-decoration: underline;
}

.category-list .is-active button {
  color: red;
  cursor: default;
}

.category-list .is-active button:hover {
  text-decoration: none;
}